/* ------------------------------------------------------------------------------
Hero Area Custom
--------------------------------------- */

	// For Homepage Slider
	.hero-image {

		width: 100%;
		/*background: url('http://placehold.it/1600x630') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;*/
		display: table;

		.fullwidthbanner-container {
			.fullwidthbanner {
				ul {
					li {
						div.big_white {
								font-size: 100px;
							
						}
					}
				}
			}
		}
	}

	// For Interior Hero Image
	.int-hero-image {
		width: 100%;
		display: table;
		height: 200px;

		&.hero-img-one {
		background: url(#{$image-path}hero-imgs/int-hero-img-1.png) no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}

		&.hero-img-two {
		background: url(#{$image-path}hero-imgs/int-hero-img-1.png) fixed no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}

		//Tablet 
		@include breakpoint ($breakpoint768) {
			height: 340px;
		}
		//Desktop & IE8 Supported
		@include desktop-ie8 {
			height: 340px;
		}

		//Large Desktop
		@include desktop-ie8 {
			height: 540px;
		}

		> .container {
			position: relative;display: table;
			height: 200px;

			//Tablet 
			@include breakpoint ($breakpoint768) {
				height: 340px;
			}
			//Desktop & IE8 Supported
			@include desktop-ie8 {
				height: 340px;
			}

			//Large Desktop
			@include desktop-ie8 {
				height: 540px;
			}

			h3 {
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: 50;
				margin: 0;
				line-height: .5em;
			}

		}
	}
